
<div class="ds-col-xs-10 ds-offset-xs-1 ds-col-lg-8 ds-offset-lg-2 ds-col-xl-8 ds-offset-xl-2" style="height: 50px;">
  <div class="ds-row">
    <div class="ds-col-xs-3">
      <h6 class="ds-heading-6 ds-display-xs-block ds-display-md-inline-block ds-mar-r-md-2 ds-mar-t-1 ds-mar-b-1 ds-text-neutral-1">
        <a href="https://w3.ibm.com/w3/info_terms_of_use.html"  class="ds-text-neutral-1">  Terms of use </a></h6>

    </div>

    <div class="ds-col-xs-3">
      <h6 class="ds-heading-6 ds-display-xs-block ds-display-md-inline-block ds-mar-r-md-2 ds-mar-t-1 ds-mar-b-1 ds-text-neutral-1">
        <a href="https://w3-03.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Business+Conduct+Guidelines" class="ds-text-neutral-1">Business Conduct Guidelines</a> </h6>
    </div>
    <div class="ds-col-xs-3">
      <h6 class="ds-heading-6 ds-display-xs-block ds-display-md-inline-block ds-mar-r-md-2 ds-mar-t-1 ds-mar-b-1 ds-text-neutral-1">
       <a href="https://w3.ibm.com/workplace/feedback/"  class="ds-text-neutral-1"> Feedback</a></h6>
    </div>
    <div class="ds-col-xs-3">
      <h6 class="ds-heading-6 ds-display-xs-block ds-display-md-inline-block ds-mar-r-md-2 ds-mar-t-1 ds-mar-b-1 ds-text-neutral-1">
       <a href="https://w3-03.ibm.com/w3/access-stmt.html"  class="ds-text-neutral-1">Accessibility</a></h6>
    </div>
  </div>
</div>

 