<h1 class="page-header ds-dark" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bolder; font-size: 45px; margin-top: 2%; margin-left: 3%; font-style: italic;"> US HCAM Contacts</h1>
<h2 class="page-header" style=" font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-top: 0.5%; margin-left: 9%; font-style: italic; color: gray; font-weight: bold; font-size: 28px;">Add US HCAM contact</h2>

<mat-card class="add-contact" >
  <mat-card-header>
  </mat-card-header>
  
  <mat-card-content>
    <!-- put the form here -->
    <!-- <div style="margin-left: 2%; margin-top: 5%;"> -->
    <mat-form-field>
      <mat-label>Name: </mat-label>
       <input  matInput  placeholder="Enter Name" [(ngModel)]="resource"  name="name"  required>
    </mat-form-field><br/>

    <mat-form-field> 
      <mat-label>E-mail: </mat-label>
       <input  matInput  placeholder="Enter E-mail" [(ngModel)]="emailId"  name="name"  required>
    </mat-form-field><br/>

    <mat-form-field>
      <mat-label>Business phone: </mat-label>
       <input  matInput  placeholder="Enter Phone number" [(ngModel)]="phone"  name="phone"  required>
       <mat-icon matSuffix></mat-icon>
    </mat-form-field> <br/>

    <mat-form-field>
      <mat-label>Fax number: </mat-label>
       <input  matInput  placeholder="Enter fax number" [(ngModel)]="faxNum"  name="fax"  required>
    </mat-form-field><br/>

    <mat-form-field>
      <mat-label>Country/Region:</mat-label>
          <mat-select [(value)]="selectedValue" name="country" >
          <mat-option value="country.paramName" *ngFor="let country of countryMap">{{country.paramName}}</mat-option>
      </mat-select>
    </mat-form-field> 
     
      <!-- <div class="ds-row ds-mar-b-1_5">
        <label for="country">Country/Region:</label>
          <select id="country"  default="countryName"  style="font-size: 30px; justify-content: center; width: 500px;" >
            <option [ngValue]="null" disabled>--choose--</option>
            <option [ngValue]="country" *ngFor="let country of countryMap" >{{country.paramName}}</option>
          </select>
      </div> -->
    </mat-card-content>
    <mat-card-actions>
       <button  mat-raised-button (click)="saveContact()"  color="primary" class="action-buttons">Save Contact</button>
        <!-- <button  mat-raised-button (click)="saveContact()"  color="primary">Save Contact</button> -->
    </mat-card-actions>
</mat-card>


