label{
    padding: 5%;
    font-size: xx-large;
    font-style: italic;
    font-weight: 500;
    align-items: center;
}
/* input{
    align-items: flex-start;
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
    color: lightgray;
} */