
<h2>  AAll Comp Requests</h2>
<div class="ds-tabs ds-row">
  <div class=" ds-col-12">
    <div class="ds-tab-controls ds-tabs-fit-content" role="tablist">
      <button data-element="inProgress" class="ds-button ds-primary" role="tab" aria-controls="tab1">Compensation Request - In Progress</button>
      <button data-element="active" class="ds-button ds-primary" role="tab" aria-controls="tab2">Compensation Request-Active</button>
      <button data-element="inActive" class="ds-button ds-primary " role="tab" aria-controls="tab3">Compensation Request-In-Active</button>
    </div>
  </div>

  <div class="ds-tab-contents ds-col-12 ds-mar-t-2 ">
    <div id="inProgress" class="ds-tab-content ds-hide">
          <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
              <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                  <button class="ds-accordion-title ds-text-contextual-red-3">Initiated & Initiated - Required Information added - New Employee</button>
                      <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                          <div class="ds-table-container">
                              <table class="ds-table ds-table">
                                   <thead>
                                      <tr>
                                          <th >Employee Serial</th>
                                          <th >Host Serial</th>
                                          <th >First Name</th>
                                          <th >Last Name</th>
                                          <th >Current Work City</th>
                                          <th >Actual work state</th>
                                          <th >Compensation Type</th>
                                          <th >Comp Rep</th>
                                          <th >Record Status</th>
                                          <th >Review Status</th>
                                      </tr>
                                  </thead>
                              </table>
                          </div>
                      </div>
               </div>
          </div>
          
<div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
              <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                  <button class="ds-accordion-title ds-text-blue-4">Initiated & Initiated - Required Information added - Band Progression </button>
                      <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                          <div class="ds-table-container">
                              <table class="ds-table ds-table">
                                   <thead>
                                      <tr>
                                          <th >Employee Serial</th>
                                          <th >Host Serial</th>
                                          <th >First Name</th>
                                          <th >Last Name</th>
                                          <th >Email ID</th>
                                          <th >Current Work Location City</th>
                                          <th >Current Zip Code</th>
                                          <th >Compensation Type</th>
                                          <th >Record Status</th>
                                      </tr>
                                  </thead>
                              </table>
                          </div>
                      </div>
               </div>
          </div>

          <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
              <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                  <button class="ds-accordion-title ds-text-contextual-green-3">Initiated & Initiated - Required Information added -  Location Transfer  </button>
                      <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                          <div class="ds-table-container">
                              <table class="ds-table ds-table">
                                   <thead>
                                      <tr>
                                          <th >Employee Serial</th>
                                          <th >Host Serial</th>
                                          <th >First Name</th>
                                          <th >Last Name</th>
                                          <th >Email ID</th>
                                          <th >Current Work Location City</th>
                                          <th >Current Zip Code</th>
                                          <th >Compensation Type</th>
                                          <th >Record Status</th>
                                      </tr>
                                  </thead>
                              </table>
                          </div>
                      </div>
               </div>
          </div>

          <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
              <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                  <button class="ds-accordion-title ds-text-contextual-yellow-4">Initiated & Initiated - Required Information added - Other  </button>
                      <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                          <div class="ds-table-container">
                              <table class="ds-table ds-table">
                                   <thead>
                                      <tr>
                                          <th >Employee Serial</th>
                                          <th >Host Serial</th>
                                          <th >First Name</th>
                                          <th >Last Name</th>
                                          <th >Email ID</th>
                                          <th >Current Work Location City</th>
                                          <th >Current Zip Code</th>
                                          <th >Compensation Type</th>
                                          <th >Record Status</th>
                                      </tr>
                                  </thead>
                              </table>
                          </div>
                      </div>
               </div>
          </div>

          <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
              <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                  <button class="ds-accordion-title ds-text-contextual-purple-5">Initiated & Initiated - Required Information added - Temporary Remote Work </button>
                      <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                          <div class="ds-table-container">
                              <table class="ds-table ds-table">
                                   <thead>
                                      <tr>
                                          <th >Employee Serial</th>
                                          <th >Host Serial</th>
                                          <th >First Name</th>
                                          <th >Last Name</th>
                                          <th >Email ID</th>
                                          <th >Current Work Location City</th>
                                          <th >Current Zip Code</th>
                                          <th >Compensation Type</th>
                                          <th >Record Status</th>
                                      </tr>
                                  </thead>
                              </table>
                          </div>
                      </div>
               </div>
          </div>

          <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
              <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                  <button class="ds-accordion-title">Initiated & Initiated - Required Information added (Pending) </button>
                      <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                          <div class="ds-table-container">
                              <table class="ds-table ds-table">
                                   <thead>
                                      <tr>
                                          <th >Employee Serial</th>
                                          <th >Host Serial</th>
                                          <th >First Name</th>
                                          <th >Last Name</th>
                                          <th >Email ID</th>
                                          <th >Current Work Location City</th>
                                          <th >Current Zip Code</th>
                                          <th >Compensation Type</th>
                                          <th >Record Status</th>
                                      </tr>
                                  </thead>
                              </table>
                          </div>
                      </div>
               </div>
          </div>

          <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
              <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                  <button class="ds-accordion-title">Discuss</button>
                      <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                          <div class="ds-table-container">
                              <table class="ds-table ds-table">
                                   <thead>
                                      <tr>
                                          <th >Employee Serial</th>
                                          <th >Host Serial</th>
                                          <th >First Name</th>
                                          <th >Last Name</th>
                                          <th >Email ID</th>
                                          <th >Current Work Location City</th>
                                          <th >Current Zip Code</th>
                                          <th >Compensation Type</th>
                                          <th >Record Status</th>
                                      </tr>
                                  </thead>
                              </table>
                          </div>
                      </div>
               </div>
          </div>

          <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
              <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                  <button class="ds-accordion-title">Discussed - Required Info added </button>
                      <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                          <div class="ds-table-container">
                              <table class="ds-table ds-table">
                                   <thead>
                                      <tr>
                                          <th >Employee Serial</th>
                                          <th >Host Serial</th>
                                          <th >First Name</th>
                                          <th >Last Name</th>
                                          <th >Email ID</th>
                                          <th >Current Work Location City</th>
                                          <th >Current Zip Code</th>
                                          <th >Compensation Type</th>
                                          <th >Record Status</th>
                                      </tr>
                                  </thead>
                              </table>
                          </div>
                      </div>
               </div>
          </div>
      </div>
    
      <div id="active" class="ds-tab-content ds-hide">
        <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
            <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                <button class="ds-accordion-title ds-text-contextual-red-3">Initiated - Additional information required</button>
                    <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                        <div class="ds-table-container">
                            <table class="ds-table ds-table">
                                 <thead>
                                    <tr>
                                        <th >Employee Serial</th>
                                        <th >Host Serial</th>
                                        <th >First Name</th>
                                        <th >Last Name</th>
                                        <th >Current Work City</th>
                                        <th >Actual work state</th>
                                        <th >Compensation Type</th>
                                        <th >Comp Rep</th>
                                        <th >Record Status</th>
                                        <th >Review Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
             </div>
        </div>
        
        <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
            <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                <button class="ds-accordion-title ds-text-blue-4">Offer for review </button>
                    <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                        <div class="ds-table-container">
                            <table class="ds-table ds-table">
                                 <thead>
                                    <tr>
                                        <th >Employee Serial</th>
                                        <th >Host Serial</th>
                                        <th >First Name</th>
                                        <th >Last Name</th>
                                        <th >Email ID</th>
                                        <th >Current Work Location City</th>
                                        <th >Current Zip Code</th>
                                        <th >Compensation Type</th>
                                        <th >Record Status</th>
                                        <th >E-Sign Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
             </div>
        </div>

        <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
            <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                <button class="ds-accordion-title ds-text-contextual-green-3">MGR Accepted  </button>
                    <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                        <div class="ds-table-container">
                            <table class="ds-table ds-table">
                                 <thead>
                                    <tr>
                                        <th >Employee Serial</th>
                                        <th >Host Serial</th>
                                        <th >First Name</th>
                                        <th >Last Name</th>
                                        <th >Email ID</th>
                                        <th >Current Work Location City</th>
                                        <th >Current Zip Code</th>
                                        <th >Compensation Type</th>
                                        <th >Record Status</th>
                                        <th >E-Sign Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
             </div>
        </div>

        <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
            <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                <button class="ds-accordion-title ds-text-contextual-yellow-4">Request Processed </button>
                    <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                        <div class="ds-table-container">
                            <table class="ds-table ds-table">
                                 <thead>
                                    <tr>
                                        <th >Employee Serial</th>
                                        <th >Host Serial</th>
                                        <th >First Name</th>
                                        <th >Last Name</th>
                                        <th >Email ID</th>
                                        <th >Current Work Location City</th>
                                        <th >Current Zip Code</th>
                                        <th >Compensation Type</th>
                                        <th >Record Status</th>
                                        <th >E-Sign Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
             </div>
        </div>

        <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
            <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                <button class="ds-accordion-title ds-text-contextual-purple-5">Discuss-Additional Info Reqrd </button>
                    <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                        <div class="ds-table-container">
                            <table class="ds-table ds-table">
                                 <thead>
                                    <tr>
                                        <th >Employee Serial</th>
                                        <th >Host Serial</th>
                                        <th >First Name</th>
                                        <th >Last Name</th>
                                        <th >Email ID</th>
                                        <th >Current Work Location City</th>
                                        <th >Current Zip Code</th>
                                        <th >Compensation Type</th>
                                        <th >Record Status</th>
                                        <th >E-Sign Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
             </div>
        </div>

        <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
            <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                <button class="ds-accordion-title">Override Manager Acceptance </button>
                    <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                        <div class="ds-table-container">
                            <table class="ds-table ds-table">
                                 <thead>
                                    <tr>
                                        <th >Employee Serial</th>
                                        <th >Host Serial</th>
                                        <th >First Name</th>
                                        <th >Last Name</th>
                                        <th >Email ID</th>
                                        <th >Current Work Location City</th>
                                        <th >Current Zip Code</th>
                                        <th >Compensation Type</th>
                                        <th >Record Status</th>
                                        <th >E-Sign Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
             </div>
        </div>
      </div>
      <div id="inActive" class="ds-tab-content ds-hide">
        <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
            <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                <button class="ds-accordion-title ds-text-contextual-red-3">Rejected</button>
                    <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                        <div class="ds-table-container">
                            <table class="ds-table ds-table">
                                 <thead>
                                    <tr>
                                        <th >Employee Serial</th>
                                        <th >Host Serial</th>
                                        <th >First Name</th>
                                        <th >Last Name</th>
                                        <th >Current Work City</th>
                                        <th >Actual work state</th>
                                        <th >Compensation Type</th>
                                        <th >Comp Rep</th>
                                        <th >Record Status</th>
                                        <th >Review Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
             </div>
        </div>
        
        <div align="left" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
            <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
                <button class="ds-accordion-title ds-text-blue-4">Archived</button>
                    <div class="ds-accordion-slidedown" aria-hidden="true" role="region">
                        <div class="ds-table-container">
                            <table class="ds-table ds-table">
                                 <thead>
                                    <tr>
                                        <th >Employee Serial</th>
                                        <th >Host Serial</th>
                                        <th >First Name</th>
                                        <th >Last Name</th>
                                        <th >Email ID</th>
                                        <th >Current Work Location City</th>
                                        <th >Current Zip Code</th>
                                        <th >Compensation Type</th>
                                        <th >Record Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

