<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div >
    <div class="ds-row ds-col-12 ds-mar-t-1 ds-mar-b-0  ds-float-center ds-text-align-center">
    <p ><b>IBM Confidential! Statement of usage policy</b></p>
        <br />
            <p>The US HCAM tool is a web based application and it is used to manage resources in the US Host Country Assignment Model by automating the compensation and on-boarding / off-boarding processes for the resources.</p> 
            <p>This tool contains details of Employee PI/SPI data such as Name, Email ID, Band, Date of Birth, SSN, Bank A/C number, Compensation, PMR, Incentive / Bonus for US HCAM Assignment.</p>
            <p>PI/SPI data is collected from Professional Market Place (PMP), Operational Data Manager (ODM) and some of the details are filled/calculated in the tool.</p> 
            
            <p>Employee PI/SPI data which is collected and stored in US HCAM Database will be kept strictly confidential and will be obtained and used only in accordance with applicable Privacy legislation.</p> 
            <p>Employee information will only be made available within IBM to other individual on a "need to know basis". </p>
            <p>As a user of HCAM tool, I will adhere to the <a href="https://w3-03.ibm.com/tools/bcg/" target="_blank" ><u>Business Conduct Guidelines</u></a> and <a href="http://w3-03.ibm.com/ibm/privacy/practices_guidance.html" target="_blank"><u>Data Protection Guidance.</u></a></p> 
            <p>Please refer to the <a href="https://w3.ibm.com/w3publisher/w3-privacy-notice/" target="_blank">IBM Privacy statement </a> for an understanding of IBM's General Privacy Practices.</p>
            <p>I will ensure information in the tool is not duplicated, distributed, shared or removed from IBM premises or sent through the IBM network without prior management approval.</p><br />
        </div>   
            <div class="ds-row ds-col-12" style="padding-left: 650px;" (click)="privacyNotice()">
               
                <button  class="ds-text-align-center" style="align-self: center !important; width: 150px;" class="ds-button">ok</button>
            </div>
        </div>