label{
    padding: 5%;
    font-size: xx-large;
    font-style: italic;
    font-weight: 500;
    align-items: center;
}
input{
    /* margin-left: 10%; */
    /* border: none; */
    /* border-bottom: 2px solid black; */
    align-items: flex-start;
    font-size: 30px;
    font-style: oblique;
    width: auto;
}
