<h1 class="page-header ds-dark" style="font-weight: bolder; font-size: xx-large; margin-top: 1.5%; margin-left: 1%;"> US HCAM Contacts</h1>
<h2 class="page-header" style="margin-top: -0.7%; margin-left: 6.1%; font-style: italic; color: gray; font-weight: bold;">Update US HCAM contact</h2>

<div class="ds-row ">
    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">E-mail:</label><br>
        <input type="text" id="email" name="email">
        <label for="phone">Business phone:</label><br>
        <input type="text" id="phone" name="phone"><br>
        <label for="fax">Fax number:</label><br>
        <input type="text" id="fax" name="fax">
        <label for="country">Country/Region:</label><br>
        <!-- <input type="" id="name" name="fname"><br> -->
      </form> 
</div>
