<!-- <div class="ds-panel ds-panel-raised ">
<div class="ds-panel-footer ds-bg-contextual-blue-5"> -->
    <div class="ds-col-xs-10 ds-offset-xs-1 ds-col-lg-8 ds-offset-lg-2 ds-col-xl-8 ds-offset-xl-2">
        <div class="ds-row">
          <div class="ds-col-xs-4">
            <h6 class="ds-heading-6 ds-display-xs-block ds-display-md-inline-block ds-mar-r-md-2 ds-mar-t-1 ds-mar-b-1 ds-text-neutral-1">
              Terms
              of use</h6>
          </div>
          <div class="ds-col-xs-4">
            <h6 class="ds-heading-6 ds-display-xs-block ds-display-md-inline-block ds-mar-r-md-2 ds-mar-t-1 ds-mar-b-1 ds-text-neutral-1">
              Feedback</h6>
          </div>
          <div class="ds-col-xs-4">
            <h6 class="ds-heading-6 ds-display-xs-block ds-display-md-inline-block ds-mar-r-md-2 ds-mar-t-1 ds-mar-b-1 ds-text-neutral-1">
              Accessibility</h6>
          </div>
        </div>
      </div>
    <!-- </div>
    </div> -->