<h1 class="page-header ds-dark" style="font-weight: bolder; font-size: xx-large; margin-top: 1.5%; margin-left: 1%;"> US HCAM Contacts</h1>
<h2 class="page-header" style="margin-top: -0.7%; margin-left: 6.1%; font-style: italic; color: gray; font-weight: bold;">List of US HCAM contacts</h2>

<div class="ds-row ">
    <button class="ds-button ds-small ds-width-auto ds-secondary ds-float-right" style="margin-right:7%;font-weight: bolder; font-style: oblique; font-size: 20px;" (click)="addContact('/addIBMI')">Add Contact</button>
</div>

<div class="ds-row" style="margin-left: 2%; margin-right: 2%; margin-top: 2%;">
    <div class="ds-table-container">
    <table class="ds-table ds-hover ds-table-compact">
        <thead> 
        <tr>
          <th>Full Name</th>
          <th>Email</th>
          <th>Business Phone</th>
          <th>Fax Number</th>
          <th>Country/Region</th>
        </tr>
        </thead>
        <tbody *ngFor = "let contact of contactsList">
            <tr>
               
                <td><a routerLink="editIBMI" routerLinkActive="active"  (click)="gotoContactDetails('/editIBMI',contact.resourceId)">{{contact.resource}}</a></td>
                <td>{{contact.emailId}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.faxNum}}</td>
                <td>{{contact.countryName}}</td>
            </tr>
        </tbody>
      </table> 
    </div>
</div>
<div class="mat-elevation-z8" style="margin: 3%;">
    <table mat-table [dataSource]="dataSource">
  
    
      <ng-container matColumnDef="resource"> 
        <th mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/editIBMI', element.resourceId]"> <a><button id="firstelement">{{element.resource}}</button></a> </td>
      </ng-container>
 
     
      <ng-container matColumnDef="emailId">
        <th mat-header-cell *matHeaderCellDef> E-mail </th>
        <td mat-cell *matCellDef="let element"> {{element.emailId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Business Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="faxNum">
        <th mat-header-cell *matHeaderCellDef> Fax Number </th>
        <td mat-cell *matCellDef="let element"> {{element.faxNum}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  

<router-outlet></router-outlet>