

<div >
    <div class="ds-row ds-col-11 ds-mar-t-1 ds-mar-b-0  ds-float-center ds-text-align-left" >
        <p>
            Welcome to the US Host Country Assignment (US HCAM) model. This tool is a repository of employee information as it relates to an assignment in the US Host Country Assignment (US HCAM) model. You will find in this tool employee base record information, employee forms, as well as announcements, reminders and other helpful information related to your assignment in the US
            This tool will be utilized by the onsite US HCAM assignee for updating and maintenance of employee base record data and other info such as tax exemption, banking, home address, email ID information, etc. It will also be the tool used by the US HCAM Headquarters Operations for related HR activities such as On boarding, Compensation, Assignment Termination management, etc.
            We hope you enjoy the benefit of being able to maintain and yes input timely updates to this information database.
        </p>

    </div>

</div>
